.userNameLogin {
    display: flex;
    gap: 10px;

    .authbtn_userName {
        color: $green;
    }

.icon-isLogged {
    fill: $green;
}

.icon-logout {
    width: 15px;
    padding-right: 5px;

}

}